.box {
  position: absolute;
  transform-origin: top left;
  user-select: none;

  left: 50%;
  top: 200px;
}

.box-wrapper {
  background-color: #00bcd4;
  position: relative;
  user-select: none;
  transform: translate(-50%, -50%);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #1e88e5;
  position: absolute;
  border-radius: 100px;
  border: 1px solid white;
  user-select: none;
}

.dot:hover {
  background-color: #0d47a1;
}

.dot.left-top {
  top: -5px;
  left: -5px;
}

.dot.left-bottom {
  bottom: -5px;
  left: -5px;
}

.dot.right-top {
  top: -5px;
  right: -5px;
}

.dot.right-bottom {
  bottom: -5px;
  right: -5px;
}

.dot.top-mid {
  top: -5px;
  left: calc(50% - 5px);
}

.dot.left-mid {
  left: -5px;
  top: calc(50% - 5px);
}

.dot.right-mid {
  right: -5px;
  top: calc(50% - 5px);
}

.dot.bottom-mid {
  bottom: -5px;
  left: calc(50% - 5px);
}

.dot.rotate {
  top: -30px;
  left: calc(50% - 5px);
}

.rotate-link {
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #1e88e5;
  top: -20px;
  left: calc(50% + 0.5px);
  z-index: -1;
}
