@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  height: 10000px;
}

button:focus-visible {
  outline: 2px solid var(--ui-primary-color-filled);
  outline-offset: calc(0.125rem * var(--ui-scale));
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}
